.warn, .error, .warnBox, .errorBox, .errorBox-js, .infoBox, .successBox, .primaryBox
{
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
}

.error
{
   font-size: 0.7em;
   color: #900;
   background-color : #ffff00;
}

.errorBox, .errorBox-js, .warnBox, .infoBox, .successBox, .primaryBox
{
   padding: 15px 5px 15px 5px;
   margin: 10px 0 10px 0;
   border: 1px solid transparent;
   border-radius: 4px;
   display: inline-block;
   width: 100%; /* for non CSS3 */
   width: calc(100% - 2px);
   background-repeat: repeat-x;
   text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
   box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}


.errorMessage,  .errorBox, .errorBox-js
{   
   background-image: linear-gradient(to bottom, #F2DEDE 0px, #E7C3C3 100%);
   border-color: #DCA7A7;
   color: #CF0805;
}

.warnBox
{
	background-image: linear-gradient(to bottom, #fcf8e3 0px, #f3e8ad 100%);
	background-color: #fcf8e3;
	color: #494D27;
}

.infoBox
{
	background-image: linear-gradient(to bottom, #d9edf7 0px, #81c9ed 100%);
	background-color: #d9edf7;
	color: #494D27;
}

.successBox
{
	background-image: linear-gradient(to bottom, #dff0d8 0px, #96d87a 100%);
	background-color: #dff0d8;
	color: #025912;
}

.primaryBox
{
	background-image: linear-gradient(to bottom, #337ab7 0px, #235b8a 100%);
	background-color: #337ab7;
	color: #F3F5FC;
}

.errorBox-js
{
	display:none;
}


.paddingError
{
	padding: 10px 15px 10px 15px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding-right: 15px;
	text-align: center;
}


.box-container 
{
    z-index: 3;
    width: 360px;
    margin: auto;
    margin-top: 50px;
}

.registartionForm
{
	padding: 20px;
	border: 1px solid #cbc8c8;
	border-radius: 14px;
}

.clearBoth
{
	clear:both;
}
.short_explanation
{
   font-family : Arial, sans-serif;
   font-size: 0.6em;
   color:#333;   
}

.small-text
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   color:#333;   
}

/* used on the registration page to put the tick / cross inside the text input field */
#passChecker
{
	position: absolute;
	top: 5px;
	right: 25px;
}
#passwordStrengthIndicator{
	font-size: 10px;
	font-weight:400;
	margin: 0px;
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
.hidnSpmTp
{
   display:none;
   width:10px;
   height:3px;
}

#captcha
{
	width: 120px;
	height: 30px;
}